<div class="container">
    <div>
        <h2>Ajouter un Produit</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Pays</label>
            <input type="text" [(ngModel)]="newPays.idPays" name="idPays" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Pays</label>
            <input type="text" [(ngModel)]="newPays.nomPays" name="nomPays" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Langue</label>
            <select class="form-control form-control-lg" name="idLang" id="idLang" [(ngModel)]="newIdLang">
                <option *ngFor="let langs of langues" [value]="langs.idLang">
                    {{langs.nomLang}}
                </option>
            </select>
        </div>
        <div class="mt-2"><button type="submit" (click)="addPays()" class="btn btn-success">Ajouter</button></div>
        <div>
            <h3>{{ message }}</h3>
        </div>
    </form>
</div>